Source: libtlc59116
Section: libraries
Priority: extra
XBSC-Group: IO
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libtlc59116
Architecture: all
Provodes: TLC59116.h
Description: TLC59116 library

